<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href={% static 'accounts/images/favicon.ico' %} type="image/x-icon">
    <link rel="stylesheet" href={% static 'accounts/css/forms.css' %}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://api.fontshare.com/v2/css?f[]=general-sans@701,200,500,301,201,1,300,2,601,600,401,501,400,700&display=swap">
    <title>BlinkURL - Me connecter</title>
</head>
<body>
    <main>
        <h1>BlinkURL</h1>
        <div>
            <a class="close-btn" href={% url 'index' %}><span class="material-symbols-outlined">close</span></a>
            <h2>Me connecter</h2>
            <form method="post" action={% url 'login' %} >
                {% csrf_token %}
                <label for="email"></label>
                <input type="email" name="email" id="email" placeholder="Mon adresse mail" required>
                <label for="password"></label>
                <a href={% url 'forgot-password-account' %}>Mot de passe oublié</a>
                <input type="password" name="password" id="password" placeholder="Mon mot de passe" required>
                <input class="submit-btn" type="submit" value="Bon retour">
            </form>
        </div>
    </main>
</body>
</html>