:root {
    --main-color: #5AAF73;
    --second-color: #25251D;
}

html {
    padding: 0;
    margin: 0;
    font-family: 'General Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

header {
    margin: 50px 5%;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-weight: 500;
    font-size: 1.5em;
    color: var(--second-color);
}

header a {
    display: inline-block;
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;
    padding: 12px 35px;
    border-radius: 50px;
    margin-top: -10px;
    color: #FFFFFF;
    background-color: var(--main-color);
    transition: background-color, 0.5s;
}

header a:hover {
    background-color: var(--second-color);
    transition: background-color, 0.5s;
}

main {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

main .index-section {
    background-color: var(--main-color);
    margin: 0 5%;
    border-radius: 15px;
    display: flex;
}

main .index-section div:nth-child(1) {
    padding: 8vh 75px;
    width: 45%;
}

main .index-section div:nth-child(2) {
    display: inline-block;
    /* background-image: url('static/web/images/background.png'); */
    background-position: 0;
    background-size: cover;
    margin: -4vh 0;
    width: 35%;
    border-radius: 15px;
}

main .index-section h1 {
    font-weight: 500;
    color: var(--second-color);
    font-size: 3em;
}

main .index-section p {
    margin: 50px 0 60px 0;
    font-weight: 400;
    color: var(--second-color);
    font-size: 1em;
}

main .index-buttons a {
    display: inline-block;
    font-weight: 400;
    font-size: 1em;
    text-decoration: none;
    padding: 12px 35px;
    border-radius: 50px;
    margin-top: -10px;
    color: #FFFFFF;
    background-color: var(--second-color);
    transition: background-color, 0.5s;
}

main .index-buttons a:nth-child(1) {
    color: #FFFFFF;
    background-color: var(--second-color);
}

main .index-buttons a:nth-child(1):hover {
    color: var(--second-color);
    background-color: #FFFFFF;
    transition: background-color, color, 0.5s;
}

main .index-buttons a:nth-child(2) {
    margin-left: 30px;
    color: var(--second-color);
    background-color: #FFFFFF;
}

main .index-buttons a:nth-child(2):hover {
    color: #FFFFFF;
    background-color: var(--second-color);
    transition: background-color, color, 0.5s;
}

footer {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: var(--second-color);

}

p a {
    color: var(--second-color);
}

@media screen and (max-width: 950px) {
    main {
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
        width: 100%;
    }

    main .index-section {
        display: block;
        background-color: transparent;
        margin-top: 50px;
    }

    main .index-section div:nth-child(1) {
        background-color: var(--main-color);
        width: 100%;
        margin: auto;
        padding: 75px 0;
        border-radius: 15px;
    }

    main .index-section h1 {
        margin-left: 3%;
        margin-right: 3%;
    }

    main .index-section p {
        margin-left: 3%;
        margin-right: 3%;
    }

    main .index-section .index-buttons {
        text-align: center;
        margin-left: 3%;
        margin-right: 3%;
    }

    main .index-buttons a {
        margin: 10px 0;
        font-size: 0.8em;
    }

    main .index-section div:nth-child(2) {
        display: inline-block;
        background-position: 0;
        background-size: cover;
        margin: 20px 0;
        width: 100%;
        height: 200px;
        border-radius: 15px;
    }

    footer {
        display: inline-block;
        position: relative;
        bottom: 10px;
        text-align: center;
        width: 100%;
        color: var(--second-color);
    
    }
}

@media screen and (max-width: 400px) {
        main .index-buttons a:nth-child(2) {
            margin-left: 5px;
    }
}

@media screen and (max-width: 370px) {
        main .index-buttons a:nth-child(2) {
            margin-left: 0px;
    }
}