<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href={% static 'web/css/text.css' %}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href={% static 'web/images/favicon.ico' %} type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://api.fontshare.com/v2/css?f[]=general-sans@701,200,500,301,201,1,300,2,601,600,401,501,400,700&display=swap">
    <title>BlinkURL - Les CGU</title>
</head>
<body>
    <main>
        <a href={% url 'index' %}>Retour</a>
        <h1>📖 Les Conditions Générales d'Utilisation</h1>
        <p>Salut et bienvenue sur "BlinkURL" notre site web de raccourcissement d'URL ! Nous sommes ravis que vous soyez là, mais avant de plonger dans le vif du sujet, prenez quelques minutes pour lire attentivement les présentes Conditions Générales d'Utilisation (les "CGU") et notre Politique de confidentialité. En utilisant notre site, vous acceptez ces documents, alors il est important de les comprendre.</p>
        <h2>👨‍💻 Utilisation du Site</h2>
        <p>Notre site est là pour vous aider à raccourcir vos URL en quelques clics. C'est super pratique, mais il y a quelques règles à respecter. Nous n'autorisons pas l'utilisation de notre service à des fins illégales ou malveillantes. Donc, pas de piratage, de spamming, ou de vol de propriété intellectuelle, merci !</p>
        <p>En utilisant notre site, vous vous engagez à ne pas :</p>
        <ul>
            <li>Harceler, intimider ou menacer quiconque</li>
            <li>Voler le contenu protégé par les droits d'auteur ou la propriété intellectuelle d'autrui</li>
            <li>Diffuser des virus ou tout autre code malveillant</li>
            <li>Collecter des informations personnelles sur d'autres utilisateurs sans leur consentement</li>
        </ul>
        <h2>🍪 Cookies</h2>
        <p>Chez nous, pas de cookies industriels ou suspects. Uniquement des cookies faits maison, utiles et bien sûr délicieux ! Nous les avons créés pour personnaliser votre expérience utilisateur et améliorer votre navigation sur notre site. Nos cookies ne collectent aucune information personnelle et que votre vie privée est préservée. En utilisant notre site, vous acceptez nos cookies faits maison et utiles. Bonne dégustation !</p>
        <h2>📚 Propriété intellectuelle</h2>
        <p>Notre site et tout son contenu sont notre propriété exclusive, ou celle de nos fournisseurs de contenu. On y a mis du temps et de l'énergie, donc on espère que vous apprécierez le résultat autant que nous ! Tout le contenu, y compris les textes, graphismes, images, logos et logiciels, sont protégés par les lois sur les droits d'auteur et autres lois applicables en matière de propriété intellectuelle.</p>
        <h2>✋ Limitation de responsabilité</h2>
        <p>Nous faisons tout notre possible pour que notre site fonctionne parfaitement, mais il peut y avoir des interruptions ou des problèmes techniques. Nous ne pouvons donc pas être tenus responsables de toute perte ou dommage résultant de l'utilisation de notre service.</p>
        <h2>📪 E-Mail</h2>
        <p>En créant un compte sur notre site, vous acceptez de recevoir des emails en lien avec nos projets futurs. Ces emails peuvent contenir des informations sur les mises à jour de nos services, nos nouvelles fonctionnalités, nos offres spéciales et nos événements. Toutefois, nous respectons votre vie privée et vous pouvez vous désinscrire à tout moment en nous envoyant un mail à l'adresse indiquée sur notre site.</p>
        <h2>✍️ Modification des CGU</h2>
        <p>Comme tout le monde, nous aimons évoluer et nous améliorer. Nous nous réservons donc le droit de modifier les présentes CGU à tout moment. Nous vous recommandons de consulter régulièrement les CGU pour rester informé des éventuelles modifications.</p>
        <h2>👨‍⚖️ Loi applicable</h2>
        <p>Les présentes CGU sont régies et interprétées conformément aux lois en vigueur dans votre pays de résidence ou de domicile.</p>
        <h2>✉️ Contact</h2>
        <p>Si vous avez des questions ou des préoccupations concernant les présentes CGU, n'hésitez pas à nous contacter à l'adresse blinkurl@pazu444.fr. Nous sommes là pour vous aider !</p>
        <p>En utilisant notre site, vous acceptez nos CGU et notre Politique de confidentialité. Allez-y, raccourcissez vos URL et profitez-en bien !</p>
    </main>
</body>
</html>