:root {
    --main-color: #5AAF73;
    --second-color: #25251D;
}

html {
    padding: 0;
    margin: 0;
    font-family: 'General Sans', sans-serif;
    background-color: var(--main-color);
}

* {
    padding: 0;
    margin: 0;
}

main {
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1 {
    text-align: center;
    font-size: 7em;
    color: #FFFFFF;
}

h2 {
    font-weight: 400;
    margin-top: -20px;
    text-align: center;
    font-size: 1em;
    color: #FFFFFF;
}

footer {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    font-size: 1em;
}

p a {
    color: #FFFFFF;
}