:root {
    --main-color: #5AAF73;
    --second-color: #25251D;
}

html {
    padding: 0;
    margin: 0;
    font-family: 'General Sans', sans-serif;
    color: var(--second-color);
}

* {
    padding: 0;
    margin: 0;
}

main {
    margin: 20px auto;
    width: 70%;
}

a {
    color: var(--second-color);
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 600;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: 500;
}

p {
    margin: 10px 0;
}

ul {
    margin-left: 50px;
}

@media screen and (max-width: 500px) {
    main {
        width: 90%;
    }
}
